services:
  ml_service:
    build: .
    container_name: anomaly_detector
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./scripts:/app/scripts
      - ./run_pipeline.sh:/app/run_pipeline.sh
      - ./artifacts:/app/artifacts
      # - ./model_baseline_v1.pkl:/app/model_baseline_v1.pkl
      # - ./drift_state.json:/app/drift_state.json
    networks:
      - anomaly_net

networks:
  anomaly_net:
    name: ${ANOMALY_NET:-anomaly-net}
    external: true
