version: '3.8'

services:
  ml_service:
    build: .
    container_name: anomaly_detector
    network_mode: "host"
    env_file:
      - .env
    volumes:
      - ./scripts:/app/scripts
      - ./run_pipeline.sh:/app/run_pipeline.sh
      # - ./model_baseline_v1.pkl:/app/model_baseline_v1.pkl
      # - ./drift_state.json:/app/drift_state.json
    environment:
      - DB_HOST=localhost
      - DB_PORT=5432
